{% extends 'base.html' %}

{% block body %}

<div class='container'>
<h1> Welcome to Blog app</h1>
{% for blog in blogs  %}
<div class="card my-4 " style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body ">
    <h5 class="card-title my-2"><a href="/blogpost/{{blog.slug}}" class="text-dark">{{blog.title}}</a></h5>
    <p class="card-text my-2">{{blog.content |slice:250}}....</p>
    <a href="#" class="btn btn-primary my-2">Read more..</a>
  </div>
</div>

     
{% endfor %}
</div>
  {% endblock %}