{% extends 'base.html' %}

{% block homeactive %}active{% endblock homeactive %}
{% block body %}
<div class="container-fluid mx-0 my-1  ">
    <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://source.unsplash.com/1600x500/?nature,water" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/1600x500/?code,html" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/1600x500/?photo,beach" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="container  my-4 ">
<h2 class="text-center">Why choose us?</h2>
    <div class="row my-3">
        <div class="col-md-4 ">
            <div class="text-center">
           
            <img src="https://source.unsplash.com/160x160/?photo,beach" class="rounded" alt="loading..">
            <div class="my-4"> 
                <h5>Best Articles</h5>
                <p> hello world </p>
            </div>
            </div>
        </div>
         <div class="col-md-4 ">
                <div class="text-center">
                
               
               <img src="https://source.unsplash.com/160x160/?photo,beach" class="rounded" alt="loading..">
               <div class="my-4"> 
                <h5>Free courses</h5>
                <p> hello world </p>
            </div>
            </div>
        </div>
             <div class="col-md-4">
                    <div class="text-center">
                  
                   
                        <img src="https://source.unsplash.com/160x160/?photo,beach" class="rounded" alt="loading..">
                        <div class="my-4"> 
                            <h5>Amazing services</h5>
                            <p> hello world </p>
                        </div>
                        </div>
                    </div>
        

</div>

{% endblock body %}